<ion-header>
  <ion-toolbar>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <ion-button slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-button>
    <ion-title>
      Donaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slide>
    <div class="contaier-login"> 
      <img src="assets/img/icono.jpeg">
      <p>Apóyanos donando en nuestro PayPal para inspirarnos a mejorar nuestra aplicación</p>
      <ion-button (click)="pagar()" href="https://www.paypal.com/donate/?hosted_button_id=BWYE3LTUQNRKE">Donación</ion-button>
    </div>
  </ion-slide>    
</ion-content>
