<ion-header>
  <ion-toolbar>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <ion-button slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-button>
    <ion-title>
      Boton de pagos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button (click)="pagar()" href="https://www.paypal.com/donate/?hosted_button_id=BWYE3LTUQNRKE">Compranos un café</ion-button>
</ion-content>
