<ion-header>
  <ion-toolbar class="new-background-color">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <ion-button slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-button>
    <ion-title>     
        Perfil
        <ion-icon name="settings-outline" id="config"></ion-icon> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="perfil">
    <ion-avatar>
      <ion-img class="avatar" src="https://cloudfront-us-east-1.images.arcpublishing.com/gruporepublica/WCB4TXLTWBHWHCCYFEH2RNWWQI.jpg"></ion-img>
    </ion-avatar>
    <p></p>
    <h4>{{Nombre}} {{Apellidos}}</h4>
  </ion-grid>   
</ion-content>
