<ion-header>
  <ion-toolbar class="toolbar">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <ion-button slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-button>
    <ion-title>Juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">       
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item *ngFor="let juegos of juegos">
                  <ion-thumbnail slot="start">                
                    <img src="{{juegos.imagen}}" />                
                  </ion-thumbnail>
                  <ion-label>
                    <h2>    
                      {{juegos.Nombre}}              
                    </h2>
                    <h2>
                    <span  style="float: rigth; color: #fff;">{{juegos.Compania}}</span>
                    </h2>
                  </ion-label>
                  <ion-button (click)="perfilJuego(juegos)">
                    +info
                  </ion-button>
                </ion-item>
                
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-grid>
  </div>
</ion-content>
