<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slide>
    <div class="contaier-login"> 
      <h1>Registrate</h1>
      <ion-item>
        <ion-icon name="mail"></ion-icon>
        <ion-input Type="text" [(ngModel)]="usuario.Email" required placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="key"></ion-icon>
        <ion-input Type="password" [(ngModel)]="user.password" required placeholder="Contraseña"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="accessibility"></ion-icon>
        <ion-input Type="text" [(ngModel)]="usuario.Nombre" required placeholder="Nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="accessibility"></ion-icon>
        <ion-input Type="text" [(ngModel)]="usuario.Apellidos" required placeholder="Apellido"></ion-input>
      </ion-item><ion-item>
        <ion-icon name="today"></ion-icon>
        <ion-input Type="text" [(ngModel)]="usuario.FechaNacimiento" required placeholder="Fecha de nacimiento"></ion-input>
      </ion-item>
      <div class="botones">
        <ion-item>
          <ion-button (click)="onRegister()">Crear</ion-button>
        </ion-item>
      </div>
    </div>
  </ion-slide>
</ion-content>
